<html>
<head>
<style>
input[type=text] {
    width: 100%;
    padding: 4px 8px;
    margin: 4px 0;
    box-sizing: border-box;
}
input[type=email] {
    width: 100%;
    padding: 4px 8px;
    margin: 4px 0;
    box-sizing: border-box;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 6px 8px;
  box-sizing: border-box;
  resize: none;
}
</style>
</head>

<body>
  <div class="container">
    <form accept-charset="UTF-8" action="https://getform.io/f/d3eee1ed-f46c-467e-8507-b3bfcb2048a6" method="POST">
      <div>
        Email: <input type="email" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required="required">
      </div>
      <div>
        Name: <input type="text" name="name" id="exampleInputName" placeholder="Enter your name" required="required">
      </div>
      <div>
        Message: <textarea name="message" id="exampleInputMessage" placeholder="Type your message"></textarea>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</body>
